.footerWrapper {
  background-color: var(--color-neutral-darkblue);
  padding-top: 60px;
  padding-bottom: 30px;

  .contentFooter {
    @include directionX;
    justify-content: space-evenly;

    .textDesc {
      cursor: pointer;
      color: gray;
      padding-bottom: 5px;
    }

    .textDesc:hover {
      color: var(--color-primary-cyan);
    }

    .icons {
      display: flex;
      gap: 10px;
    }

    .icons img {
      width: 20px;
      height: 20px;
    }

    .icons svg path:hover {
      fill: var(--color-primary-cyan);
    }
  }

  @include apply-at-sm-size {
    .contentFooter {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 10px;

      .icons {
        padding-top: 10px;
      }
    }
  }
}
